@model COMP2139Lab1.Models.Project

<h1>Project Details</h1>
<dl>
    <dt>ID</dt>
    <dd>@Model.Id</dd>

    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Start Date</dt>
    <dd>@Model.StartDate.ToShortDateString()</dd>

    <dt>End Date</dt>
    <dd>@Model.EndDate.ToShortDateString()</dd>
</dl>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>